/* tittles */
@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");
/* normal text */
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;800&display=swap");
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css');


* {
  padding: 0;
  margin: 0;
}

body {
  /* background-image: url('./imgs/background.jpg'); */
  /* background-position: center;  */
  /* background-repeat: no-repeat;  */
  /* background-size: cover; */
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  font-family: "Exo 2", sans-serif;
}

body::-webkit-scrollbar {
  width: 12px;              
}

body::-webkit-scrollbar-track {
  background: #fbab7e;      
}

body::-webkit-scrollbar-thumb {
  background-color: #ff7f00;  
  border-radius: 20px;       
  border: 3px solid #f7ce68;
}

h1 {
  font-size: 3.75rem;
}

.primaryButton {
  background-color: #ff7f00;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: .625rem;
  border: none;
  /* margin-top: 1.25rem; */
  margin-bottom: 5px;
}

.primaryButton:hover {
  background-color: #fff100;
  color: rgb(34, 34, 34);
}