.link {
  text-decoration: none;
  color: red;
}

.confirmDeleteAlertDivContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(100, 100, 100, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alertDiv {
  width: 25rem;
  height: 12.5rem;
  background-color: #fff;
  border: .0625rem solid gray;
  border-radius: .3125rem;
}

.alertTitleDiv {
  padding: 2.5rem;
  box-sizing: border-box;
  width: 100%;
  height: 50%;
}

.alertButtonsDiv {
  padding: 1.25rem;
  box-sizing: border-box;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  box-sizing: border-box;
}

.pageControllerDiv {
  width: 10%;
  height: 40vh;
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.pageControllerDiv:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: 0s;
  cursor: pointer;
}

.pageLeft {
  position: relative;
  right: -4vw;
  width: 8vw;
  height: 8vw;
  border-bottom: .3125rem solid #ff7f00;
  border-left: .3125rem solid #ff7f00;
  border-bottom-left-radius: .625rem;
  transform: rotate(45deg);
}

.pageRight {
  position: relative;
  left: -4vw;
  width: 8vw;
  height: 8vw;
  border-bottom: .3125rem solid #ff7f00;
  border-left: .3125rem solid #ff7f00;
  border-bottom-left-radius: .625rem;
  transform: rotate(225deg);
}

.pageControllerDivDisabled {
  width: 10%;
  height: 40vh;
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.pageControllerDivDisabled:hover {
  background-color: transparent;
  transition: 0s;
}

.pageLeftDisabled {
  position: relative;
  right: -4vw;
  width: 8vw;
  height: 8vw;
  border-bottom: .3125rem solid rgba(100, 100, 100, 0.2);
  border-left: .3125rem solid rgba(100, 100, 100, 0.2);
  border-bottom-left-radius: .625rem;
  transform: rotate(45deg);
}

.pageRightDisabled {
  position: relative;
  left: -4vw;
  width: 8vw;
  height: 8vw;
  border-bottom: .3125rem solid rgba(100, 100, 100, 0.2);
  border-left: .3125rem solid rgba(100, 100, 100, 0.2);
  border-bottom-left-radius: .625rem;
  transform: rotate(225deg);
}

.main {
  background-color: #fff;
  border: .0625rem solid rgb(189, 189, 189);
  border-radius: .3125rem;
  width: 60%;
  height: 70vh;
  display: flex;
  overflow: hidden;
  box-shadow: .125rem .125rem .625rem rgb(173, 127, 0);
}

.imgDiv {
  background-color: #ff7f00;
  width: 60%;
  padding: .625rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgDiv img {
  max-width: 100%;
  max-height: 90%;
  border: .125rem solid white;
  border-radius: .3125rem;
}

.dataDiv {
  width: 40%;
  padding: 1.875rem;
  display: flex;
  flex-direction: column;
}

.infoDiv {
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.data {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.highlighted {
  font-weight: bold;
}

.temperamentsDiv {
  height: 35%;
  display: flex;
  gap: .3125rem;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
}

.tempText {
  font-size: 1rem;
  background-color: #ff7f00;
  color: #fff;
  padding: .3125rem .625rem;
}

.buttonsAreaContainer {
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

.buttonsArea {
  /* border: .0625rem solid red; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.button {
  background-color: #7b868e;
  border-radius: .3125rem;
  width: 6.25rem;
  height: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .625rem;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

.buttonDelete {
  background-color: #a81414;
}

.buttonDelete:hover {
  background-color: #831010;
  transition: 0.2s;
}

.buttonEdit {
  background-color: #43a814;
}

.buttonEdit:hover {
  background-color: #327c0f;
  transition: 0.2s;
}

.buttonDelete:focus {
  outline-style: solid;
  outline-color: #a81414;
}
