.topBar {
    /* border: 1px solid red; */
    height: 70px;
    display: flex;
}

.topBarDivs {
    border: 1px solid black;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.pageController {
    display: flex;
    gap: 5px;
}

.cardsContainer {
    
    margin: 20px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 25px;
    row-gap: 25px;
}