.main {
  display: flex;
  flex-direction: column;
  /* padding: 30px; */
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.pageController {
  display: flex;
  gap: 5px;
}

.cardsContainer {
  margin: 20px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 25px;
  row-gap: 25px;
}

.link {
  text-decoration: none;
  color: initial;
  cursor: pointer;
}

.link:hover {
  transform: scale(1.02);
  transition: 0.5s;
}