.main {
  display: flex;
  flex-direction: column;
  /* padding: 1.875rem; */
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.pageController {
  display: flex;
  gap: .3125rem;
}

.cardsContainer {
  margin: 1.25rem .625rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1.5625rem;
  row-gap: 1.5625rem;
}

.link {
  text-decoration: none;
  color: initial;
  cursor: pointer;
}

.link:hover {
  transform: scale(1.02);
  transition: 0.5s;
}

/* @media (max-width: 31.25rem) {
  h1{
      margin: 1%;
  }
  .estiloresponsive{
      float: right;
      padding-left: .9375rem; 
  }
} */