.container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  box-sizing: border-box;
}

.formDiv {
  width: 60%;
  display: flex;
  gap: .625rem;
}

.imageAndDataDiv {
  background-color: #fff;
  border: .0625rem solid rgb(189, 189, 189);
  border-radius: .3125rem;
  width: calc((100% / 3) * 2);
  height: 70vh;
  overflow: hidden;
  box-shadow: .125rem .125rem .625rem rgb(173, 127, 0);
  display: flex;
}

.imageSection {
  position: relative;
  background-color: #ff7f00;
  height: 100%;
  width: 50%;
}

.imagePlaceDiv {
  padding: .625rem;
  box-sizing: border-box;
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagePlaceDiv img {
  background-color: rgba(192, 121, 80, 0.5);
  width: 90%;
  max-height: 90%;
  border: .125rem solid white;
  border-radius: .3125rem;
}

.errorDiv {
  position: absolute;
  /* background-color: rgba(255, 217, 217, 0.795); */
  background-color: #fff;
  width: 13.75rem;
  height: 1.875rem;
  box-sizing: border-box;
  /* border: .0625rem solid red; */
  border-radius: .3125rem;
  color: red;
  font-size: .8125rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageErrorDiv {
  left: .9375rem;
  bottom: 8.125rem;
}

.singleInputErrorDiv {
  top: 4.0625rem;
}

.rangeInputErrorDiv {
  top: 2.6875rem;
}

.temperamentsErrorDiv {
  top: 3.125rem;
}

.imageInputDiv {
  width: 100;
  height: 30%;
  display: flex;
  gap: 1.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loadImageButton {
  width: 6.25rem;
  height: 1.875rem;
  background-color: #f7ce68;
  border-radius: .3125rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.loadImageButton:hover {
  background-color: #c3a352;
  transition: 0s;
  cursor: pointer;
  transition: 0.2s;
}

.loadImageButton:focus {
  outline-style: solid;
  outline-color: #f7ce68;
}

.dataSection {
  height: 100%;
  width: 50%;
  padding: 1.25rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.input {
  height: 2.1875rem;
  background-color: antiquewhite;
  border: none;
  border-radius: .3125rem;
  padding: .375rem;
  font-size: .9375rem;
  box-sizing: border-box;
}

.inputWithError {
  height: 2.1875rem;
  background-color: antiquewhite;
  outline: red;
  border: .125rem solid red;
  border-radius: .3125rem;
  padding: .375rem;
  font-size: .9375rem;
  box-sizing: border-box;
}

.inputImageUrl:focus {
  outline: #fff;
  border: .125rem solid #fff;
}

.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .3125rem;
}

.inputRangeContainer {
  position: relative;
  display: flex;
  gap: 1.25rem;
  justify-content: flex-start;
  align-items: center;
}

.inputRange {
  text-align: center;
  width: 20%;
}

.requiredField {
  color: crimson;
}

.temperamentsSection {
  background-color: #fff;
  border: .0625rem solid rgb(189, 189, 189);
  box-sizing: border-box;
  border-radius: .3125rem;
  width: calc(100% / 3);
  height: 70vh;
  overflow-y: scroll;
  box-shadow: .125rem .125rem .625rem rgb(173, 127, 0);
}

.temperamentsSectionError {
  /* border: .125rem solid red; */
  outline-style: solid;
  outline-color: red;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: .3125rem;
  width: calc(100% / 3);
  height: 70vh;
  overflow-y: scroll;
  box-shadow: .125rem .125rem .625rem rgb(173, 127, 0);
}

.temperamentsHeader {
  position: relative;
  padding-top: 1.25rem;
  box-sizing: border-box;
  background-color: #ff7f00;
  color: #fff;
  width: 100%;
  height: 5.625rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.temperamentsContainer {
  display: grid;
  height: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(62, 5vh);
}

.temperamentDiv {
  border: .0625rem solid blue;
}

.temperamentsSection::-webkit-scrollbar {
  width: .75rem;
}

.temperamentsSection::-webkit-scrollbar-track {
  background: #fbab7e;
}

.temperamentsSection::-webkit-scrollbar-thumb {
  background-color: #ff7f00;
  border-radius: 1.25rem;
  border: .1875rem solid #f7ce68;
}

.temperamentsSectionError::-webkit-scrollbar {
  width: .75rem;
}

.temperamentsSectionError::-webkit-scrollbar-track {
  background: #fbab7e;
}

.temperamentsSectionError::-webkit-scrollbar-thumb {
  background-color: #ff7f00;
  border-radius: 1.25rem;
  border: .1875rem solid #f7ce68;
}

.element {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.tempCheckDiv {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tempTextDiv {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
}

.tempTextDiv label {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: .875rem;
}

.buttonContainer {
  width: 60%;
  height: 8vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: .3125rem;
}

.footerButton {
  background-color: #7b868e;
  border-radius: .3125rem;
  width: 6.25rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.successButton {
  background-color: #2aae47;
  transition: 0.2s;
}

.successButton:hover {
  background-color: #218838;
  transition: 0.2s;
}
.successButton:focus {
  outline-style: solid;
  outline-color: #197e2f;
}

.successButton:disabled {
  background-color: #7b868e;
  color: rgba(200, 200, 200, 0.5);
  cursor: not-allowed;
}

.cancelButton {
  background-color: #a81414;
}

.cancelButton:hover {
  background-color: #831010;
  transition: 0.2s;
}

.cancelButton:focus {
  outline-style: solid;
  outline-color: #a81414;
}