.container {
  display: flex;
  background-image: url("../imgs/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.div {
  width: 50vw;
  height: 100vh;
  /* border: 0.0625rem solid black; */
  padding: 7.5rem;
  box-sizing: border-box;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img {
  width: 6.25rem;
  height: auto;
  align-self: center;
  transform: rotate(15deg);
}

.title {
  font-family: "Rubik Vinyl", cursive;
  margin-bottom: 1.25rem;
}

@media (max-width: 800px) {
  .container {
    /* background-size: cover; */
    background-position: -280px;
  }
  .sideDiv {
    display: none;
  }
  .div {
    padding: 15px;
    width: 100%;
  }
  .mainDiv {
    gap: 20px;
  }
}
