.container {
  display: flex;
  background-image: url('../imgs/background.jpg');
  background-repeat: no-repeat; 
  background-size: cover;
}

.div {
  width: 50vw;
  height: 100vh;
  /* border: .0625rem solid black; */
  padding: 7.5rem;
  box-sizing: border-box;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img {
  width: 6.25rem;
  height: auto;
  align-self: center;
  transform: rotate(15deg)
}

.title {
  font-family: "Rubik Vinyl", cursive;
  margin-bottom: 1.25rem;
}

.startButton {
  width: 50%;
  /* border: 1px solid black; */
  align-self: flex-end;
  text-align: center;
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  margin-top: 30px;
}

