.notification {
    padding: .625rem;
    background-color: #fff;
    border: .0625rem solid gray;
    border-radius: .3125rem;
    width: 13.75rem;
    height: 3.75rem;
    position: absolute;
    top: 3.125rem;
    right: 1.875rem;
    box-shadow: .3125rem .3125rem .625rem #000;
  }
  
  .notificationTitleError {
    height: 30%;
    color: red;
  }
  
  .notificationTitleSuccess {
    height: 30%;
    color: green;
  }
  
  .notificationTextAndIconArea {
    height: 70%;
    display: flex;
  }
  
  .notificationText {
    width: 80%;
    font-size: .9375rem;
    display: flex;
    align-items: center;
  }
  
  .notificationIcon {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }