.pageController {
    display: flex;
    align-items: center;
    gap: .625rem;
    border-radius: .3125rem;
    padding: .1875rem .3125rem;
    box-sizing: border-box;
    cursor: default;
}

.button {
    border-radius: .1875rem;
    background-color: #000;
    padding: .3125rem;
    line-height: 0;
    font-size: .9375rem;
    color: #fff;
    cursor: pointer;
}

.button:hover {
    background-color: #ff7f00;
}

.smallButtons {
    font-size: .625rem;
    padding: .4688rem .4375rem;
}

.input {
    height: 1.5625rem;
    width: 1.875rem;
    text-align: center;
    border: .125rem solid black;
    border-radius: .3125rem;
}

input:focus {
    outline: #ff7f00;
    border: .125rem solid #ff7f00;

}