.container {
    background-color: antiquewhite;
    border-radius: .3125rem;
    width: 28.125rem;
    height: 2.1875rem;
    display: flex;
    overflow: hidden;
}

.inputDiv {
    box-sizing: border-box;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    height: 70%;
    width: 90%;
    background-color: inherit;
    border: none;
    font-size: 1.25rem;
}

.input:focus {
    border: none;
}

.buttonDiv {
    box-sizing: border-box;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    color: #ff7f00;
    font-size: 1.25rem;
    cursor: pointer;
    border: .0625rem solid antiquewhite;
    border-radius: .3125rem;
    transition: 0.5s;
}

.buttonDiv:hover {
    background-color: #ff7f00;
    color: antiquewhite;
    transition: 0s;
}