.topBar {
  /* border: 0.0625rem solid red; */
  height: 4.375rem;
  display: flex;
}

.topBarDivs {
  /* border: 0.0625rem solid black; */
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 70%;
  border: 0.0625rem solid rgba(146, 146, 146, 0.5);
  border-radius: 0.3125rem;
}

.clearSearchDiv {
  margin: 1.25rem;
  width: 6.25rem;
  height: 2.1875rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clearSearchButton {
  padding: 0.1875rem 0.375rem;
  box-sizing: border-box;
  border-radius: 0.1875rem;
  border: 0.125rem solid black;
  background-color: #000;
  color: #fff;
  font-size: 0.75rem;
  text-align: center;
  cursor: pointer;
}

.clearSearchButton:hover {
  background-color: #ff7f00;
}

@media (max-width: 1000px) {
  .topBar {
    /* width: 100%; */
    /* border: 1px solid black; */
    margin: 10px;
    height: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .topBarDivs {
    width: 100%;
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: initial;
    border: none;
  }
}

@media (max-width: 800px) {
  .topBar {
    margin: 10px;
    height: auto;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .topBarDivs {
    width: 100%;
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: initial;
    border: none;
  }
}

@media (max-width: 500px) {
  .topBar {
    margin: 10px;
    height: auto;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .topBarDivs {
    width: 100%;
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: initial;
    border: none;
  }
}
